body {
  background-color: #fffacd;
  font-family: "Arial";
}

header {
  background-color: orange;
}

ul {
  list-style-type: circle;
}

#main-heading {
  font-size: 60px;
}

.fun {
  color: green;
}
